
*.xcf
.DS_Store
.env
/.idea
/.vagrant
/access.log
/error.log
/nbproject

/node_modules
/public/hot
/public/storage
/public/temp/*
/public/uploads/*
/storage/*.key
/storage/tmp/*
/storage/uploads/*
/vendor/*

composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php.orig
.env.local.php