
*.xcf
.DS_Store
.env
/.idea
/.vagrant
/access.log
/error.log
/nbproject

/node_modules
/public/hot
/public/storage
/public/temp/*
/public/uploads/*
/storage/*.key
/storage/tmp/*
/storage/uploads/*
/vendor/*
/public/pages/*

composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php.orig
.env.local.php
.env*
/public/.DS_Store
/public/.htaccess
./vendor
./.vscode
.vscode/*
firestore-database-rules.txt
.phpunit.result.cache
faxt_api_backup.sql
resources/views/vendor/l5-swagger/.gitkeep
.phpunit.cache/test-results
phpunit.xml.bak
public/css/filament/*
public/js/filament/*
